@import '../../App.scss';
.nav-bar {
    width: 100%;
    height: 60px;
    position: relative;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;

    .logo {
        display: block;
        margin: 10px 20px;

        img {
            display: block;
            width: 24px;
            height: auto;
        }
    }

    nav {
        display: flex;
        grid-gap: 60px;
        justify-content: center;
        align-items: center;
        padding-right: 40px;
    }

    .scroll-down {
        position: absolute;
        right: 0;
        top: 180px;
        transform: rotate(90deg);

    }
}