@import '../../App.scss';
.sidebar {
    position: absolute;
    top: 100px;
    padding: 0;
    list-style: none;
    margin-left: 20px;

    li {
        margin-bottom: 20px;
    }

    .social-media-icons {
        font-size: 24px;

        svg {
            color: $bone;
        }

        &:hover svg {
           color: $third-color;
        }
    }
}