@import './App.scss';

html {
  font-family:'Poppins',-apple-system, BlinkMacSystemFont, Verdana, Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  color: $fifth-color;
  background:$first-color;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;

  a[href] {
    color: $fifth-color;
    text-decoration: none;

    &:hover {
      color: $third-color;
    }
  }
}
